#header h1 a {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

#header .nav-menu a {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

#header .nav-menu a:hover {
  color: #5887a3;
}

#header .nav-menu i {
  color: white;
}

#header .nav-menu i:hover {
  color: #5887a3;
}

#home {
  width: 100%;
  height: 100vh;
  background: url(/img/slider2.jpg) center;
  background-size: cover;
  position: relative;
}

#home h1 {
  font-size: 35px;
}

#home .owl-carousel .owl-item {
  padding-top: 250px;
}

#home .owl-nav {
  display: none;
}

#home .owl-dot.active span {
  background: #124e8a !important;
}

#home:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home .container-fluid {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#home h1 {
  margin: 30px 0 10px 0;
  font-size: 40px;
  line-height: 56px;
  font-family: "Cinzel", serif;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home .owl-carousel .owl-item {
    padding-top: 150px;
  }
}

#home h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#home .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#home .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

#about .title {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

#about p,
#about li {
  font-family: "Raleway", sans-serif;
}

#about .owl-nav {
  display: none;
}

#about .owl-dot.active span {
  background: #124e8a !important;
}

#promos .section-title {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

#promos .section-description {
  font-family: "Raleway", sans-serif;
}

#promos input {
  height: 46px;
  border-radius: 30px;
}

#promos .cta-btn {
  font-family: "Cinzel", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #124e8a;
  color: #124e8a;
}

#promos .cta-btn:hover {
  background: #124e8a;
  border: 2px solid #124e8a;
  color: white;
}

#planes .section-title {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

#planes .section-description {
  font-family: "Raleway", sans-serif;
}

#planes .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background: #fafafa;
  height: 300px;
}

#planes .box:hover {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background: #124e8a;
  height: 300px;
}

#planes .box:hover .title a,
#planes .box:hover li {
  color: white;
}

#planes .title a {
  font-family: "Cinzel", serif;
  font-weight: 400;
  color: white;
}

#planes .title:hover {
  color: white;
}

#planes .description {
  font-family: "Raleway", sans-serif;
}

#planes .cta-btn {
  font-family: "Cinzel", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #124e8a;
  color: #124e8a;
}

#planes .cta-btn:hover {
  background: #124e8a;
  border: 2px solid #124e8a;
  color: white;
}

@media screen and (max-width: 600px) {
  #planes .cta-btn {
    margin-bottom: 50px;
  }
}

#contact .section-title {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

#contact p,
#contact h6,
#contact input,
#contact select {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

#contact textarea {
  resize: none,
  
}

.maps{
  margin-right: 0 !important;
}

  
@media screen and (max-width: 991px) {
  #contact iframe {
    width: 100%;
    padding-bottom: 20px;
  }
}

#myModal-Enviar input {
  border-radius: 0;
}

#myModal-Enviar #btnValidar,
#myModal-Enviar #btnValidar-pass {
  margin-bottom: 30px;
}
/*# sourceMappingURL=custom.css.map */