    $yellow: #fdc400;
    $verde_fuerte: #3a6128;
    $verde: #88c14f;
    $verde_claro: #86c249;
    // font-family: 'Raleway', sans-serif;
    // font-family: 'Playfair Display', serif;
    // header
    #header {
        h1 a {
            font-family: 'Playfair Display', serif;
        }
        .nav-menu {
            a {
                font-family: 'Raleway', sans-serif;
            }
        }
    }
    
    // end of header
    // home
    #home {
        width: 100%;
        height: 100vh;
        background: url(/img/slider2.jpg) top center;
        background-size: cover;
        position: relative;
        .owl-carousel .owl-item {
            padding-top: 250px;
        }
        .owl-nav {
            display: none;
        }
    }
    
    @media screen and (min-width: 1024px) {
        // #home {
        //     background-attachment: fixed;
        // }
    }
    
    #home:before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    
    #home .container-fluid {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    #home h1 {
        margin: 30px 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        // text-transform: uppercase;
        font-family: 'Playfair Display', serif;
        color: #fff;
    }
    
    @media screen and (max-width: 768px) {
        #home h1 {
            font-size: 28px;
            line-height: 36px;
        }
    }
    
    #home h2 {
        color: #eee;
        margin-bottom: 50px;
        font-size: 24px;
    }
    
    @media screen and (max-width: 768px) {
        #home h2 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 30px;
        }
    }
    
    #home .btn-get-started {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px;
        border: 2px solid #fff;
        color: #fff;
    }
    
    #home .btn-get-started:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }
    
    // QUIENES SOMOS
    #about {
        .title {
            font-family: 'Playfair Display', serif;
        }
        p {
            font-family: 'Raleway', sans-serif;
        }
    }
    
    // END OF QUIENES SOMOS
    // PLANS
    #planes {
        .box {
            padding: 50px 20px;
            margin-bottom: 50px;
            text-align: center;
            border: 1px solid #e6e6e6;
            position: relative;
            background: #fafafa;
            height: 300px;
        }
        .cta-btn {
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 8px 30px;
            border-radius: 50px;
            transition: 0.5s;
            margin: 10px;
            border: 2px solid #2dc997;
            color: #2dc997;
        }
        .cta-btn:hover {
            background: #fff;
            border: 2px solid #2dc997;
        }
        @media screen and (max-width: 600px) {
            .cta-btn {
                margin-bottom: 50px;
            }
        }
    }
    
    // END OF PLANS
    // CONTACT
    #contact {
        textarea {
            resize: none;
        }
        @media screen and (max-width: 991px) {
            iframe {
                width: 100%;
                padding-bottom: 20px;
            }
        }
    }
    
    // END OF CONTACT