@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    background: #343a40;
    font-family: "Roboto", sans-serif;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.login-page .fondo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    margin: auto;
    max-width: 20%;
    max-height: 20%;
}

.login-page .ico {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    margin: auto;
    max-width: 20%;
    max-height: 20%;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 20px #000;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #343a40;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .login-form .box {
    background: #f2f2f2;
    height: 47px;
    font-size: 13px;
    margin-bottom: 15px;
}

.form .login-form .box input {
    margin: 0;
    margin-top: 10px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #594f8d;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #000;
    text-decoration: none;
}

.form .register-form {
    display: none;
}